:root  {
    --red-color: #ff0000;
    --yellow-color: #ffff00;
    --black-color: #000000;
    --white-color: #ffffff;
    --flag-hw: 200px;
}


.flag-swiss{

    height: var(--flag-hw);
    width: var(--flag-hw);
    background: var(--red-color);
    margin : 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cross1 {
    height : calc(var(--flag-hw) * 3/16);
    width  : calc(var(--flag-hw) * 5/8);
    background: var(--white-color);
}

.cross2 {
    height : calc(var(--flag-hw) * 5/8);
    width  : calc(var(--flag-hw) * 3/16);
    background: var(--white-color);
    position: absolute;
}
