
.contianer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(128, 216, 214);
    

    
}

.red-part{
    width: 150px;
    height: 400px;
   
    background-color: red;;
}
.white-part{
    width: 150px;
    height: 400px;
    background-color: white;;
}
.blue-part{
   width: 150px;
    height: 400px;
    background-color: blue;;
}