
.contianer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(95, 68, 68);

    
}



.circle1, .circle2, .circle3 {
    background-color: white;
    margin: 20px;
    width: 100px;
    height: 100px;
    opacity: 0.6;
    animation: pulse 1s infinite alternate, spin 3s linear infinite;
}

/* Pulse animation (grow/shrink + color change) */
@keyframes pulse {
    from {
        background-color: rgb(134, 128, 128);
        transform: scale(1);
    }
    to {
        background-color: rgb(241, 241, 241);
        transform: scale(1.5);
    }
}

/* Continuous rotation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
