html, body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.container{
    display: flex;
    justify-content: top left;
    align-items: center;
    margin: 6px;
    height: 8vh;
    min-width: 320px;
    
}
.search-bar{
    width: 40%;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: all 0.8s;
}
.search-bar::placeholder{
    padding: 0.5rem;
    color: rgb(0, 0, 0);
}

.search-bar:focus{
    box-shadow: 0 0 10px orangered;
    place-content: none;
    width: 100%;
    transition: box-shadow 0.3s ease-in-out;
  
}
.search-bar:focus::placeholder{
    color: transparent;
}